%div.footer
  %h3 SNS
  %ul.sns-list
    %li.sns-facebook
      %a{:href => 'https://www.facebook.com/pages/Progate/742679992421539', :target => '_blank'}
        %i.fa.fa-facebook
    %li.sns-twitter
      %a{:href => 'https://twitter.com/prog_8'}
        %i.fa.fa-twitter
