!!!
%html
  %head
    %title ononao
  %body
    %div.main

      %div.main-top
        %div.main-top-left
          %h2 Learn to Code, Learn to be Creative
          %div.intro
            Progateでプログラミングを学んでWEBアプリケーションを作れるようになりましょう。
            %br 初心者の人でも心配ありません。
            プログラミングは正しく学べば短期間で上達することができます。
            %div#more-text
              ただし世の中には断片的な情報が溢れていて、本当に効率のいい学習方法を発見することは困難です。
              Progateは考えぬいたシンプルなコンテンツにより、実践的かつ効率的なプログラミング学習を提供します。
              %br 単に知識の詰め込みをしていてもプログラミングはなにも面白くありません。
              Progateでは実際にWEBアプリケーションを学びながら、知識を習得していきます。
              普段自分がブラウザで見ているだけのものを自分の手で作っていくことになります。
              %br Progateを学べば自分だけでWEBアプリケーションを作り上げるだけの力をつけることが出来ます。
              そして、その力はあなたをとりまく世界を変えるほどの力をもちます。
          %div#read-more もっと読む
        %div.code-image
          %img{src: 'http://prog-8.com/images/mac_code3.png'}

    %div.gallery
      %h2.gallery-heading Programming Languages
      %div.gallery-inner.grid-row
        %div.col-4.gallery-item
          %div.gallery-cover
            ウェブページの作成に使用される言語です。
            HTMLとCSSを組み合わせることで、静的なページをつくり上げることが出来ます。
          %div.gallery-image
            %img{src: 'http://prog-8.com/images/html5-02.png'}
          %div.gallery-title HTML
        %div.col-4.gallery-item
          %div.gallery-cover
            HTMLだけではページの内容を変えることはできません。
            PHPはHTMLにプログラムを埋め込み、動的なページをつくり上げることが出来ます。
          %div.gallery-image
            %img{src: 'http://prog-8.com/images/php01.png'}
          %div.gallery-title PHP
        %div.col-4.gallery-item
          %div.gallery-cover
            jQueryはJavaScriptライブラリの1つです。
            jQueryを使うと簡単にページにリッチな効果をつけることが出来ます。
          %div.gallery-image
            %img{src: 'http://prog-8.com/images/jquery.png'}
          %div.gallery-title jQuery

    %div.steps
      %h2.steps-heading How to learn
      %ul#step-list
        %li.step-list.active STEP1
        %li.step-list STEP2
        %li.step-list STEP3
      %div.explain.active
        %div.image-part
          %img{src: 'http://prog-8.com/images/top_slide_3.png'}
        %div.explain-part
          %h2 スライドによる学習
          スライドを見て知識を習得します。
          %br 図を用いた説明により、直感的理解をすることができます。
          自分のスピードで学習ができ、必要な時にいつでも見返すことが出来ます。
      %div.explain
        %div.image-part
          %img{src: 'http://prog-8.com/images/top_editor_2.png'}
        %div.explain-part
          %h2 オンラインエディタでの演習
          スライドで得た知識をオンラインエディタでの演習によって身につけます。
          %br プログラミングはコードを書くことによってはじめて上達します。
          インストラクションに従ってコーディングしていきましょう。
      %div.explain
        %div.image-part
          %img{src: 'http://prog-8.com/images/top_outcome_2.png'}
        %div.explain-part
          %h2 プレビューで結果を確認
          エディタに書いたコードの結果をすぐに確認することができます。
          %br これにより自分の書いたコードにより何が起きたのかを理解しながら
          進めることが出来ます。
